<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Lanches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let l of lanches">
    <ion-item (click)="showRegistro(l)">
      <ion-avatar slot="start">
        <ion-img [src]="l.url"></ion-img>
      </ion-avatar>
        <ion-label>{{l.nome}}</ion-label>
        <ion-label>{{l.valor}}</ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-content>
