<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Bebidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let b of bebidas">
    <ion-item (click)="showBebida(b)">
      <ion-avatar slot="start">
        <ion-img [src]="b.url"></ion-img>
      </ion-avatar>
        <ion-label>{{b.nome}}</ion-label>
        <ion-label>{{b.valor}}</ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-content>
