<ion-header>
  <ion-toolbar color="secondary">
    <ion-button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Prato do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Prato do dia</ion-card-title>
      <ion-card-subtitle>Entrada + Refeição + Sobremesa</ion-card-subtitle>

      <ion-img src= "/assets/imagens/entradas/Entrada-1.jpg"></ion-img>
    </ion-card-header>

   <ion-card-content>
      <p>Não é uma refeição, é uma experiência regional, e além de tudo uma super promoção. Confira!</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Prato do dia</ion-card-title>
      <ion-card-subtitle>Entrada + Refeição + Sobremesa</ion-card-subtitle>

      <ion-img src= "/assets/CarneDesfiadaMacaxeira.jpg"></ion-img>
    </ion-card-header>

   <ion-card-content>
      <p>Não é uma refeição, é uma experiência regional, e além de tudo uma super promoção. Confira!</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Prato do dia</ion-card-title>
      <ion-card-subtitle>Entrada + Refeição + Sobremesa</ion-card-subtitle>

      <ion-img src= "/assets/imagens/sobremesas/Sobremesa-1.jpg"></ion-img>
    </ion-card-header>

   <ion-card-content>
      <p>Não é uma refeição, é uma experiência regional, e além de tudo uma super promoção. Confira!</p>
    </ion-card-content>
  </ion-card>

</ion-content>
