<ion-header>
  <ion-toolbar color="secondary">
    <ion-button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Prato do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <h1>R$ 30,00</h1>
    <p>Nossa promoção do dia temos;<br/>
      • Porção de Canapés<br/>
      • PF tradicional, feijão, arroz, bife, ovo, salada e fritas  <br/>
      • Fatia de torta de limão
    </p>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Canapés</ion-card-title>
      <ion-img src= "/assets/imagens/entradas/Canapes-1.jpg"></ion-img>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bife + Arroz + Batata Frita</ion-card-title>
      <ion-img src= "/assets/imagens/pratos/prato.webp"></ion-img>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Torta de limão</ion-card-title>
      <ion-img src= "/assets/imagens/sobremesas/torta-limao.jpg"></ion-img>
    </ion-card-header>
  </ion-card>
</ion-content>
