<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Pratos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let p of pratos">
    <ion-item (click)="showRegistro(p)">
      <ion-avatar slot="start">
        <ion-img [src]="p.url"></ion-img>
      </ion-avatar>
        <ion-label>{{p.nome}}</ion-label>
        <ion-label>{{p.valor}}</ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-content>
