<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-button>
    <ion-title>Entradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let e of entradas">
    <ion-item (click)="showRegistro(e)">
      <ion-avatar slot="start">
        <ion-img [src]="e.url"></ion-img>
      </ion-avatar>
        <ion-label>{{e.nome}}</ion-label>
        <ion-label>{{e.valor}}</ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-content>
