<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-button slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-button>
    <ion-title> RESTAURANTE PRATO CHEIO </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title (click)="irPagina('prato-dia')">Prato do dia</ion-card-title>
      <ion-card-subtitle (click)="irPagina('prato-dia')">Entrada + Refeição + Sobremesa</ion-card-subtitle>
      <ion-avatar slot="">
        <ion-img (click)="irPagina('prato-dia')" src= "/assets/imagens/pratos/Prato-1.webp"></ion-img>
      </ion-avatar>
    </ion-card-header>

   <ion-card-content>
      <p>Confira o nosso combo especial, garantimos a sua satisfação!</p>
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-item>
      <ion-label (click)="irPagina('bebidas')">Bebidas</ion-label>
      <ion-avatar slot="start">
        <ion-img (click)="irPagina('bebidas')" src= "/assets/imagens/bebidas/Bebida-1.jpg"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="irPagina('lanches')">Lanches</ion-label>
      <ion-avatar slot="start">
        <ion-img  (click)="irPagina('lanches')" src= "/assets/imagens/lanches/Lanche-1.jpg"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="irPagina('sobremesa')">Sobremesas</ion-label>
      <ion-avatar slot="start">
        <ion-img (click)="irPagina('sobremesa')" src="/assets/imagens/sobremesas/Sobremesa-4.png"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="irPagina('entrada')">Entradas</ion-label>
      <ion-avatar slot="start">
        <ion-img  (click)="irPagina('entrada')" src= "/assets/imagens/entradas/Entrada-1.webp"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="irPagina('pratos')">Pratos</ion-label>
      <ion-avatar slot="start">
        <ion-img  (click)="irPagina('pratos')" src= "/assets/imagens/pratos/Prato-1.webp"></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-footer>
