<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-button slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-button>
    <ion-title> RESTAURANTE PRATO CHEIO </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prato do dia</ion-card-title>
      <ion-card-subtitle>Epinafre nordestino</ion-card-subtitle>
      <ion-avatar slot="">
        <ion-img src= "/assets/CarneDesfiadaMacaxeira.jpg"></ion-img>
      </ion-avatar>
    </ion-card-header>

   <!-- <ion-card-content>
      <p>Não é uma refeição, é uma experiência regional.</p>
    </ion-card-content> -->
  </ion-card>

  <ion-list>

    <ion-item>
      <ion-label>Bebidas</ion-label>
      <ion-avatar slot="start">
        <ion-img  src= "/assets/Bebida-1.jpg"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>Lanches</ion-label>
      <ion-avatar slot="start">
        <ion-img  src= "/assets/Lanche-1.jpg"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label routerLink="">Sobremesas</ion-label>
      <ion-avatar slot="start">
        <ion-img  src="/assets/Sobremesa-4.jpg"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>Pratos</ion-label>
      <ion-avatar slot="start">
        <ion-img  src= "/assets/Refeicao-1.jpg"></ion-img>
      </ion-avatar>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-footer>
